:root{
	--mainColor:#15202B;
	--secondaryColor:#192734;

	--borderColor:#164D56;

	--mainText:#7886a4;
	--secondaryText:#a1bdd0;

	--themeDotBorder:#c8cdda;

	--previewBg:rgb(10, 10, 10, 0.8);
	--previewShadow:#15202B;


	--buttonColor:#18434e;


}

.post-preview{
	background-color: #dbdbdb;
	padding:15px;
}

.post-title{
	color:black;
	margin: 0;
}

.post-intro{
	color:#4b5156;
	font-size: 14px;
}